h1,
p {
  margin: 0;
  padding: 0;
}
/* .fakePharma-parents-div {
  border: 1px solid red;
} */
.fakePharma-container {
  /* border: 1px solid green; */
  margin: 2rem 6rem;
}
.fakePharma-container h1 {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-bottom: 1.2rem;
  letter-spacing: 0.25px;
  color: rgb(54, 114, 192);
}
.fakePharma-container p {
  font-size: 17px;
  font-weight: 500;
  color: rgba(92, 91, 91, 0.925);
  margin-bottom: 1.4rem;
  word-spacing: 1px;
}
.fakePharma-container p span {
  font-size: 18px;
  font-weight: 600;
  color: rgba(24, 187, 3, 0.925);
}
.fakePharma-container ul li {
  font-size: 17px;
  font-weight: 500;
  color: rgba(92, 91, 91, 0.925);
  margin-bottom: 1.2rem;
}
.fakePharma-container ol li {
  font-size: 17px;
  font-weight: 500;
  color: rgba(92, 91, 91, 0.925);
  margin-bottom: 1.2rem;
}
