.subHeader {
    /* border: 1px solid blue; */
    border-bottom: 1px solid gainsboro;
    /* padding: 5px; */
}
.upper-part {
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: center;
}
.left-image {
    /* border: 1px solid blue; */
    display: flex;
    width: 80%;
}
#image {
    /* border: 1px solid black; */
    margin-left: 30rem;
}
.search-icon {
    margin-right: 1.7rem;
    margin-left: 1.5rem;
    cursor: pointer;
}
.search-icon:hover {
    color: rgb(2, 212, 2) ;
}
.sub-header-right-part{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lower-part{
    border: 1px solid rgb(255, 51, 0);
    height: 3rem;
    display: flex;
    justify-content: center;
    position: sticky; 
    top: 10px;
    align-items: center;
}
.lower-part span {
    margin-right: 1rem;
    font-weight: 600;
    font-size: 17px;
    cursor:pointer ;
}
.spanHome {
    color: rgb(2, 212, 2) ;
}
.lower-part span:hover{
    color: rgb(2, 212, 2);
}