.parentContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.medicineList {
    margin-bottom: 35px;
}
.product-heading {
    /* border: 1px solid red; */
    padding: 0 5rem;
}
.headingText {
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(17, 17, 17);
}
.product-card {
    border: 1px solid rgb(2, 207, 2);
    width: 16.5rem;
    height: 19.6rem;
    position: relative;
    /* background-color: lightskyblue; */
}
.content {
    position: relative;
  }
  .content .content-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 86%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
    cursor: pointer;
  }
.medicine1 {
    width: 15.2rem;
    height: 16.9rem;
}
.lowerPart {
    /* border: 1px solid purple; */
    height: 14%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}
.lowerPartIcon-left {
    /* border: 1px solid peru; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.7rem;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.lowerPartIcon-left:hover .searchIcon {
    background-color: black;
    color: white;
}
.lowerPartIcon-left:hover .heartIcon {
    background-color: black;
    color: white;
}
.lowerPartIcon-left:hover .compareIcon {
    background-color: black;
    color: white;
}
.lowerPartIcon-left:hover{
    background-color: black;
}
.lowerPartIcon-left
.searchIcon{
    font-size: 18px;
    font-weight:600 ;
    color: grey;
}
.heartIcon {
    font-size: medium;
    color: grey;
}
.heartIcon:hover {
    color: white;
}
.compareIcon {
    font-size: medium;
    color: grey;
}
.compareIcon:hover {
    color: white;
}
.cartIcon {
    font-size: x-small;
    color: grey;
}
.cartIcon:hover {
 color: white;
}
.lowerPartIcon-right {
    /* border: 1px solid peru; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.5rem;
    cursor: pointer;
}
.lowerPartIcon-right:hover .cartIcon {
    background-color: rgb(11, 230, 11);
    color: white;
}
.lowerPartIcon-right:hover .selectOption {
    background-color: rgb(11, 230, 11);
    color: white;
}
.lowerPartIcon-right:hover {
    background-color: rgb(11, 230, 11);
}
.selectOption {
    font-size: 13px;
    font-weight: 600;
}
.selectOption:hover {
    color: white;
}
.cardLowerDisc {
    /* border: 1px solid blue; */
    text-align: center;
    /* margin-top: 1rem; */
    width: 15.5rem;
    height: 7rem;
}
.para {
    margin: 12px;
}
.medDisc1 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(172, 169, 169);
}
.medDisc2 {
    font-size: 15px;
    font-weight: 500;
    /* color: grey; */
    letter-spacing: 1px;
}
.medDisc3 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(2, 2, 2);
}
.cardLowerDisc p .starIcon {
    font-size: 16px;
    color: rgb(50, 206, 50);
}
/*------- second part ------*/

.after-product-list {
    /* border: 1px solid blue; */
    display: flex;
    margin: 3rem 0;
}
.left-part {
    padding: 80px 60px;
}
.right-part {
    /* border: 1px solid red; */
    width: 100vw;
    flex-direction: column;
    padding: 10px;
}
.rightHeadingText {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    /* padding: 5px; */
}
.button {
    border: none;
    border-radius: 25px;
    width: 17.5rem;
    height: 3.2rem;
    margin: 2rem;
    margin-left: 15rem;
    background-color: rgb(243, 73, 73);
    cursor: pointer;
}
.button:hover {
    background-color: rgb(253, 26, 26);
}
.button-para {
    letter-spacing: 1px;
    color: white;
    font-size: 13px;
    font-weight: 700;
}
.button-para .arrowForward {
    font-size: 10px;
}
.right-list {
    /* border: 1px solid green; */
    margin-right: 27.4rem;
    width: 60%;
}
.right-list ul li {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
    color: rgb(60, 60, 255);
}
/*------- third part ------*/

.info-heading-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-bottom: 1.5rem;
}
.info-heading {
    /* border: 1px solid rgb(255, 0, 242); */
    border-radius: 5px;
    height: 2.5rem;
    width: 85%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: rgb(215, 246, 245);
}
.info-heading p {
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(30, 81, 139);
}
.info-heading .errorIcon {
    color: rgb(85, 198, 250);
    font-size: 30px;
}