/* .SubFooter1-parent {
  border: 1px solid red;
} */
.subFooter1 {
  /* border: 1px solid rgb(0, 26, 255); */
  margin: 1rem 6rem;
}
.subFooter1-footer {
  display: flex;
  justify-content: space-between;
}
.subFooter1-header {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.subFooter1-header p {
  font-weight: 600;
  font-size: 36px;
  color: rgb(26, 25, 25);
}
.subFooter1-card {
  /* border: 1px solid rgb(212, 209, 2); */
  width: 32%;
  height: 8rem;
  margin: 1.5rem 0;
}
.subFooter1-card-heading {
  /* border: 1px solid rgb(212, 209, 2); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.subFooter1-card-heading p {
  font-size: 18px;
  font-weight: 700;
  color: rgb(26, 25, 25);
  margin: 0.8rem 0;
}
.subFooter1-card-heading p:hover {
  cursor: pointer;
  color: rgb(4, 197, 4);
}
.subFooter1-card-paragraph {
  display: flex;
  justify-content: center;
  text-align: center;
}
.subFooter1-card-paragraph p {
  font-size: 17px;
  font-weight: 400;
  color: rgb(78, 184, 68);
}
