.delivery-info-accordion-parent-div {
  /* border: 1px solid blue; */
  margin: 1rem 6rem;
}
.delivery-info-img1 {
  /* border: 1px solid rgb(255, 0, 0); */
  margin: 2rem 0;
}
.deliveryInfoImg1 {
  width: 100%;
}