.how-it-works-container-div {
  /* border: 1px solid red; */
  margin: 0 6rem;
}
.how-it-works-title1 {
  font-size: 32px;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 2rem;
}
.how-it-works-img2-class {
  width: 100%;
}
.how-it-works-underline-paragraph1-class {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 2rem;
}
.how-it-works-img3-class {
  width: 100%;
}
.how-it-works-underline-paragraph2-class  {
  font-size: 18px;
  font-weight: 400;
  /* text-decoration: underline; */
  margin-top: 2rem;
  color: rgb(99, 98, 98);
}
.how-it-works-content-div ul li {
  font-size: 18px;
  font-weight: 400;
  /* text-decoration: underline; */
  margin-top: 1.5rem;
  color: rgb(99, 98, 98);
}
.how-it-works-features-parent-div {
  /* border: 1px solid blue; */
  background-color: rgba(247, 247, 247, 0.986);
}
.how-it-works-features-container-div {
  /* border: 1px solid red; */
  height: 22rem;
  margin: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
}
.how-it-works-features-card {
  /* border: 1px solid rgb(72, 255, 0); */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  text-align: center;
  height: 18rem;
  width: 18rem;
  padding: 2rem 2rem;
}
.how-it-works-featurs-card-icon {
  border: 3px solid rgb(235, 235, 235);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 20px;
  cursor: pointer;
}
.how-it-works-featurs-card-icon:hover {
  border: 3px solid rgba(2, 201, 2, 0.747);
  background-color: rgba(2, 179, 2, 0.747);
}
.how-it-works-featurs-card-icon:hover .how-it-works-shopping-cart-icon {
  color: white;
}
.how-it-works-shopping-cart-icon {
  color: rgba(2, 179, 2, 0.747);
  cursor: pointer;
}
.how-it-works-shopping-cart-icon:hover {
  color: white;
}
.how-it-works-featurs-card-title h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1.5rem;
  cursor: pointer;
}
.how-it-works-featurs-card-title h2:hover {
  color: rgb(3, 189, 3);
}
.how-it-works-featurs-card-disc p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0.5rem;
  color: rgb(99, 98, 98);;
}
.how-it-works-below-feature-div-parent {
  /* border: 1px solid red; */
  margin: 2rem 6rem;
}
.how-it-works-below-feature-div-parent h1 {
  font-size: 35px;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 2rem;
}
.how-it-works-below-feature-div-parent h2 {
  font-size: 26px;
  font-weight: 600;
  /* text-decoration: underline; */
  margin-top: 2rem;
}
.how-it-works-below-feature-div-parent p {
  font-size: 18px;
  font-weight: 400;
  /* text-decoration: underline; */
  margin-top: 2rem;
  color: rgb(99, 98, 98);
}
.how-it-works-below-feature-div-parent ul li {
  font-size: 18px;
  font-weight: 400;
  /* text-decoration: underline; */
  margin-top: 1.5rem;
  color: rgb(99, 98, 98);
}