h1,
p {
  margin: 0;
  padding: 0;
}
/* .t-and-c-parents-div {
  border: 1px solid red;
} */
.t-and-c-container {
  /* border: 1px solid green; */
  margin: 2rem 6rem;
}
.t-and-c-container h1 {
  font-size: 38px;
  font-weight: 700;
  margin: 1.5rem 0;
  letter-spacing: 0.25px;
}
.t-and-c-container p {
  font-size: 17px;
  font-weight: 500;
  /* margin-bottom: 1rem; */
  color: rgba(92, 91, 91, 0.925);
}
.t-and-c-container p span {
  font-size: 18px;
  font-weight: 700;
  /* margin-bottom: 1rem; */
  color: rgba(19, 19, 19, 0.925);
}
